*.7z
*.db
.ipynb_checkpoints
.scrapy
*.log
*.pyc
*.bin

toplinks_scraping/results
input_data/
output/
models/USE_model
data/
notebooks/clustering_evaluation/document_count_results_index

!unlabeled_df_features.pkl
*.pkl
*.csv
*.html
.txt