[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
notebook = "*"
pandas = "*"
numpy = "*"
matplotlib = "*"
tensorflow = "*"
sklearn = "*"
fasttext = "*"
tensorflow-hub = "*"
tensorflow-text = "*"
optuna = "*"
nltk = "*"
umap-learn = "*"
sentence-transformers = "*"
faiss-cpu = "*"
elasticsearch = "*"
install = "*"
elasticsearch-async = "*"
wordcloud = "*"
scrapy = "*"
readability-lxml = "*"
scrapy-user-agents = "*"
detail = "*"
dtale = "*"
keybert = "*"
transformers = "*"
bertopic = "*"
fuzzywuzzy = "*"
hdbscan = "*"
cython = "*"
redis = "*"
msgpack-numpy = "*"
spacy = "*"
cleantext = "*"
xlsxwriter = "*"
joblib = "==1.1.0"
clusteval = "*"
compound-split = "*"
pyspellchecker = "*"
pyenchant = "*"
cyhunspell = "*"
phunspell = "*"
pynonpar = "*"
researchpy = "*"
pingouin = "*"
rank-bm25 = "*"

[dev-packages]

[requires]
python_version = "3.7"
